@use '../../../../commonStyles/index' as *;

.react-flow__edge-path {
    stroke-width: 2px;
    transition: stroke 0.3s ease;
}

.react-flow__edge-path:hover {
    stroke-width: 4px;
}

.tooltip {
    font-family: Arial, sans-serif;
    font-size: 14px;
    max-width: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.link {
    stroke: #999;
    // stroke-dasharray: 4, 2;
    /* Dashed line */
}

circle {
    // fill: url('https: //www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fnetwork-icon&psig=AOvVaw0zYLVLO7AwsdnfMNk56r7p&ust=1734456247304000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNDXhpbnrIoDFQAAAAAdAAAAABAE');
    /* Add SVG gradient */
    // fill: yellow;
}




// treeNetworkDiagram
.border {
    position: relative;
    border-radius: 5px;
    /* Apply border-radius */
    padding: 5px;
    padding-bottom: 0;
    background-color: white;
    /* Content background color */
}

.border::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #AD60CC 0%, #6A0DAD 100%);
    z-index: -1;
}

// action- pop-up
.actionPopup__wrapper{
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 10px;
    z-index: 99;

    header{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    button{
        border: none;
        background-color: transparent;
    }
    
    .actionPopup__actionList{
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        
        span:hover{
            text-decoration: underline;
            color: #6A0DAD;
        }
    }
}