@use '../../../../commonStyles/index' as *;

.react-flow__edge-path {
    stroke-width: 2px;
    transition: stroke 0.3s ease;
}

.react-flow__edge-path:hover {
    stroke-width: 4px;
}

.tooltip {
    font-family: Arial, sans-serif;
    font-size: 14px;
    max-width: 200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.link {
    stroke: #999;
    // stroke-dasharray: 4, 2;
    /* Dashed line */
}

circle {
    // fill: url('https: //www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fnetwork-icon&psig=AOvVaw0zYLVLO7AwsdnfMNk56r7p&ust=1734456247304000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNDXhpbnrIoDFQAAAAAdAAAAABAE');
    /* Add SVG gradient */
    // fill: yellow;
}




// treeNetworkDiagram
.tree_network__custom_style {
    .react-flow__controls {
        .react-flow__controls-button{
            border-bottom: none;
            background: rgb(30, 30, 47);
         svg {
            fill: white;
        }
    }
    }
}

.custom_node {
    background: rgb(30, 30, 47) !important;
    color: white;
}

.border {
    position: relative;
    border-radius: 5px;
    /* Apply border-radius */
    padding: 5px;
    padding-bottom: 0;
    background-color: white;
    /* Content background color */
}

.border::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #AD60CC 0%, #6A0DAD 100%);
    z-index: -1;
}

// action- pop-up
.actionPopup__wrapper {
    background-color: #333;
    color: #fff;
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 10px;
    z-index: 99;
    width: 200px;

    header {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        text-transform: capitalize;
        margin-bottom: 5px;
        font-size: $font-size-small;

        strong {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &>div {
            background-color: transparent;
            padding: 0;
            border-radius: 50%;
            border: 1px solid red;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            color: white;
            cursor: pointer;

            svg{
                fill: white;
            }
        }
    }

    .actionPopup__actionList {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        font-size: $font-size-xs;

        span:hover {
            text-decoration: underline;
            color: #6A0DAD;
        }
    }
}