@use '../../commonStyles/index' as *;

.dashboard__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    overflow: hidden;
    background-color: rgb(57, 56, 56);

    .dashboard__header{
      color: #ffffff;
      padding: 10px;
      border-bottom: 2px solid #1e1e2f;

      ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 40px;
        // box-shadow: $box-shadow;

        .active_dashboard_tab{
            background-color: #1e1e2f;
        }

        li{
            border: 1px solid #1e1e2f;
            padding: 5px 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 5px;
            cursor: pointer;
        }
      }
    }

    .dashboard__horizontal {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .dashboard__leftSection {
        min-height: fit-content;
        height: 90vh;
        transition: all .3s ease;
        overflow: hidden;
        overflow-y: scroll;
    
        // border-right: 1px solid $border-color;
        // border: 1px solid;
        min-width: 350px;
        // background-color: rgb(57, 56, 56);
    }

    .dashboard__centerSection {
        flex: 1;
        height: 90vh;
        // background-color: #F7F9FA;
        overflow-y: hidden;
        position: relative;
        overflow-y: scroll;
    }

    .dashboard__rightSection {
        width: 450px;
        height: 90vh;
        // background-color: #E4EFF1;

        .pageLayout__container__rightSection__renderIcon {
            position: fixed;
            right: 10px;
            bottom: 10px;

            span {
                //    box-shadow: $box-shadow;
                cursor: pointer;
            }
        }

        .pageLayout__container__rightSection__renderComponent {

            >span {
                display: block;
                margin-left: 10px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
    }

    .pageLayout__container__rightSection.collapsedRight {
        width: 70px;

    }



}