@use '../../commonStyles/index' as *;

.dashboard__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    overflow: hidden;

    .dashboard__horizontal {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .dashboard__leftSection {
        min-height: fit-content;
        height: 100vh;
        transition: all .3s ease;
        overflow: hidden;
        overflow-y: scroll;
    
        // border-right: 1px solid $border-color;
        border: 1px solid;
        min-width: 400px;
        background-color: rgb(57, 56, 56);
    }

    .dashboard__centerSection {
        flex: 1;
        height: 100vh;
        background-color: #F7F9FA;
        overflow: hidden;
        position: relative;
        overflow-y: scroll;
        border: 1px solid gold;
    }

    .dashboard__rightSection {
        width: 400px;
        border: 1px solid orange;
        // background-color: #E4EFF1;

        .pageLayout__container__rightSection__renderIcon {
            position: fixed;
            right: 10px;
            bottom: 10px;

            span {
                //    box-shadow: $box-shadow;
                cursor: pointer;
            }
        }

        .pageLayout__container__rightSection__renderComponent {

            >span {
                display: block;
                margin-left: 10px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
    }

    .pageLayout__container__rightSection.collapsedRight {
        width: 70px;

    }



}