@use '../../commonStyles/index' as *;

.chatWrapper {
    width: 94%;
    max-width: 700px;
    border: 1px solid $border-color;
    height: 90vh;
    margin: 10px auto;
    border-radius: 10px;
    // box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    box-shadow: rgb(204, 219, 232) -2px -6px 8px 0px inset, rgba(255, 255, 255, 0.5) 3px 3px 6px 1px inset;
    // box-shadow: 10px 0 5px -2px #888;
    position: relative;
    overflow: hidden;
}

.chatBody{
    margin-inline: .75em;
    margin-top: 2em;
    height: 70vh;
    overflow-y: scroll;
}