@use '../../commonStyles/index' as *;


.card-detail {
    width: 100%;
    // border: 1px solid black;
    border-radius: 8px;
    padding: 12px;

    section {
        display: flex;
        justify-content: space-around;

        .cardItem {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            border: 1px solid pink;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.glgirm {
    height: 30px !important;
    width: 30px !important;
}

.hsrFJz.horizontal {
    top: 21px !important;
}

.fhpXRr {
    margin-top: -20px !important;
}

.fEOiAx {
    background-color: $primary-color !important;
}

.ilohsX.using-icon {
    background-color: $primary-color !important;
}

.deIUwX.active {
    background: $secondary-color !important;
    color: white !important;
}

.jIatKG {
    display: none;
}













/// second
/// 
/// 

.timeline {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    // padding: 180px 0;
    background-color: #f0f0f0;
    margin: 20px;
    min-height: 540px;
    align-content: center;

    &__line {
        position: absolute;
        top: 46.3%;
        left: 0;
        height: 40px;
        background-color: #ffcc00;
        // min-width: 100%; 
        z-index: 1;
    }

    &__content {
        display: flex;
        position: relative;
        padding: 20px;
        height: auto;
        width: max-content; 
    }


    &__event {
        position: relative;
        min-width: 150px;
        flex-shrink: 0;
        text-align: center;
        margin: 0 40px;
        z-index: 2;


        &--top .timeline__description {
            position: absolute;
            // bottom: 100%;
            bottom: 190%;
            margin-bottom: 20px;
            max-width: 150px; 
            white-space: normal; 
            // border: 1px solid red;
        }

        &--bottom .timeline__description {
            position: absolute;
            top: 190%;
            margin-top: 20px;
            max-width: 150px;
            white-space: normal; 
        }

        &--bottom .timeline__description__more {
            position: absolute;
            top: 360%;
            margin-top: 20px;
            max-width: 150px; 
            white-space: normal; 
        }

        &--top .timeline__eventTime {
            position: absolute;
            right: 25%;
            bottom: 19%;
            margin-bottom: 20px;
            max-width: 50px; 
            white-space: normal;

            .timeline__eventTime__time {
                color: $primary-color;
                margin-left: -8px;
            }

            .timeline__eventTime__symbol {
                background-color: $primary-color;
                width: 20px;
                height: 30px;
                transform: skew(20deg);
            }
        }

        &--bottom .timeline__eventTime {
            position: absolute;
            top: 26%;
            right: 25%;
            margin-top: 20px;
            max-width: 50px; 
            white-space: normal; 


            .timeline__eventTime__time {
                color: $accent-color;
                text-align: center;
            }

            .timeline__eventTime__symbol {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 30px solid $accent-color;
            }
        }




        .timeline__description {
            font-size: $font-size-xs;
            color: $text-color;
            padding: 10px;
            border-radius: 4px;
            box-shadow: $box-shadow-33;
            // background: #fff;
            max-width: 150px; 
            white-space: normal; 
            line-height: 1.4; 
        }


    }

    &__marker {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;

        .timeline__time {
            //   font-size: 12px;
            color: $text-color;
            //   margin-bottom: 5px;
            padding: 4px 8px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            gap: 2px;

            // .timeline__icon {
            //     // font-size: 24px;
            //     // margin-bottom: 5px;
            //     margin-top: 5px;
            //     margin-right: 5px;
            // }

            &:hover{
                background-color: $primary-color-light-90;
            }
        }



        // .timeline__point {
        //     width: 12px;
        //     height: 12px;
        //     background-color: $primary-color;
        //     border-radius: 50%;
        //     border: 2px solid #fff;
        // }

        // &--highlight {
        //     background-color: red;
        //     border-color: red;
        // }
    }
}