@use './commonStyles/index' as *;

.iconContainer{
    border: 1px solid $border-color;
    border-radius: 50%;
}

.row{
    display: flex;
}

.col{
    width: 50%;
}

.col-5{
   width: 35%;
}
.col-7 {
    width: 65%;
}

.col-2{
    // border: 1px solid red;
  width: 20%;
}

.col-10 {
    // border: 1px solid yellow;
    width: 80%;
}

.display-none{
    display: none;
}

.display-block {
    display: block !important;
}

.text-success{
    color: $success-color;
}
.text-error {
    color: $error-color;
}

.btn{
    cursor: pointer;
}

.btn:hover{
    background-color: $background-color-second;
    border-radius: 5px;
}

.mt-1{
    margin-top: .625em;
}

.loader__alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

