@use '../../../../commonStyles/index' as *;

.chatNav__wrapper {
    // border-bottom: 1px solid $border-color;
    border-bottom: 1px solid #1E1E2F;
    background-color: #1E1E2F;
}

.chatNav__row {
    justify-content: space-between;
    align-items: center;
    padding: .75em;
    position: relative;
}

.chatNav__colLeft {
    width: 50%;

    h6 {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        // color: $text-color;
        color: #ffffff;
        // font-size: $heading-font-size-6;
        font-size: $font-size-small;
    }
}

.chatNav__toggler {
    display: none;
    border: none;
    background-color: transparent;

    @media only screen and (max-width: 600px) {
        display: block;
        position: absolute;
        right: 1rem;
        z-index: 999;
    }
}

.chatNav__list {
    list-style: none;
    display: flex;
    gap: .5em;


    @media only screen and (max-width: 600px) {
        // display: none;
        position: fixed;
        inset: 1.7% 10% 0 70%;
        height: fit-content;
        flex-direction: column;
        background-color: rgba(162, 161, 161, 0.4);
        align-items: center;
        padding: min(6vh, 3.2rem) .1em;
        z-index: 99;
        transform: translateX(160%);
        border-radius: 5px;
        //    backdrop-filter: blur(10px);
    }
}

.chatNav__list__visible {
    transform: translateX(0%) !important;
}

//  @supports(backdrop-filter: blur(1rem)) {
//     .chatNav__list {
//     background-color: hsl(0 0% 100% / 0.1);
//     backdrop-filter: blur(1rem);
//     }
//  }


.chatNav__list>li {
    display: flex;

    @media only screen and (max-width: 600px) {
        display: block;
    }
}


.vertical-line {
    // border-right: 1px solid $border-color;
    border-right: 1px solid #ffffff;
    height: 2.4rem;
    margin-right: 20px;

    @media only screen and (max-width: 600px) {
        display: none;

    }
}